<h2>Skills</h2>
<div class="timeline"></div><br>
<div class="container ">
    <div class="row">
<div class="skills-display">

    <div class="skill-progress">
        <div class="eighty-five-percent mb-blue">
            <div class="skill-name">
                <span> Java </span>
            </div>
        </div>
    </div>

    <div class="skill-progress">
        <div class="eighty-percent mb-orange">
            <div class="skill-name">
                <span> C </span>
            </div>
        </div>
    </div>

    <div class="skill-progress">
        <div class="eighty-percent mb-light-purple">
            <div class="skill-name">
                <span> HTML </span>
            </div>
        </div>
    </div>

    <div class="skill-progress">
        <div class="seventy-five-percent mb-teal">
            <div class="skill-name">
                <span> CSS3 </span>
            </div>
        </div>
    </div>
    <div class="skill-progress">
        <div class="eighty-percent mb-blue">
            <div class="skill-name">
                <span> Javascript </span>
            </div>
        </div>
    </div>
    <div class="skill-progress">
        <div class="seventy-five-percent mb-light-purple">
            <div class="skill-name">
                <span> AngularJS </span>
            </div>
        </div>
    </div>

    <div class="skill-progress">
        <div class="eighty-percent mb-teal">
            <div class="skill-name">
                <span> Jenkins </span>
            </div>
        </div>
    </div>
    <div class="skill-progress">
        <div class="seventy-five-percent mb-orange">
            <div class="skill-name">
                <span> HTTP </span>
            </div>
        </div>
    </div>

    <div class="skill-progress">
        <div class="seventy-five-percent mb-light-purple">
            <div class="skill-name">
                <span> SQL </span>
            </div>
        </div>
    </div>

    <div class="skill-progress">
        <div class="eighty-percent mb-teal">
            <div class="skill-name">
                <span> ORACLE   DB</span>
            </div>
        </div>
    </div>
    <div class="skill-progress">
        <div class="seventy-five-percent mb-orange">
            <div class="skill-name">
                <span> DB2 </span>
            </div>
        </div>
    </div>
    <div class="skill-progress">
        <div class="seventy-five-percent mb-orange">
            <div class="skill-name">
                <span> GITHUB </span>
            </div>
        </div>
    </div>
    <div class="skill-progress">
        <div class="fifty-five-percent mb-orange">
            <div class="skill-name">
                <span> Apache Tomcat </span>
            </div>
        </div>
    </div>

</div>
</div>
</div>
