<div >
<h2 >Experience</h2>
<div class="timeline"></div><br>
<div class="timeline-box">
   As a intern participated in multiple work environments for running oracle DB quries to update
   the details of a customer in their insurance portal.
</div>
<div class="timeline-box">
    worked for the client Emblem which involves in enhancement the application
    and resolving user stories for different regions like Dental, Hospital applications by using DB2 scripts,JCL and COBOL
     in endeavor tool.
</div>
<div class="timeline-box">
    worked for the client ZURICH farmers which involves in the delivery of applications
    for different text environments like Regression, feature,load testing by using DB2 scripts,JCL, COBOL,SAP,PUTTY,JENKINS.
</div>

</div>