<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <h3>
            <ul class="nav navbar-nav">
            <li><a href="#" (click)="onselect('Home')">Home</a></li>
          <li><a href="#" (click)="onselect('About')">About</a></li>
          <li><a href="#" (click)="onselect('Skills')">Skills</a></li>
          <li><a href="#" (click)="onselect('Experience')">Experience</a></li>
          <li><a href="#" (click)="onselect('Projects')">Projects</a></li>
          <li><a href="#" (click)="onselect('Contact')">Contact</a></li>
          
        </ul>
    </h3>
      </div>
    </div>
  </nav>
