<div>
    <h2>Projects</h2>
    <div class="timeline"></div><br>
    <div class="timeline-box">
        <p style="font-style:italic">Chatbot application</p>
       As a intern participated in multiple work environments for running oracle DB quries to update
       the details of a customer in their insurance portal.
    </div>
    <div class="timeline-box">
        <p style="font-style:italic">Emblem Healthcare</p>
        <p>worked for the client Emblem which involves in enhancement the application
        and resolving user stories for different regions like Dental, Hospital applications by using DB2 scripts,JCL and COBOL
         in endeavor tool.</p>
    </div>
    <div class="timeline-box">
        <p style="font-style:italic">Zurich Farmers</p>
        <p>worked for the client ZURICH farmers which involves in the delivery of applications
        for different text environments like Regression, feature,load testing by using DB2 scripts,JCL, COBOL,SAP,PUTTY,JENKINS.</p>
    </div>
    <div class="timeline-box">
        <p style="font-style:italic">Chatbot application</p>
        <p>Developed amazon chatbot application by using LEX and Lambda, where user can interact with the bot and reserve a car booking.</p>
        <br><p>Technologies: React.js, Node.js, MongoDB, Python, LEX.</p>
    </div>
    <div class="timeline-box">
        <p style="font-style:italic">E-commerce Web Application</p>
        <br><p>Created a prototype of Amazon website allowing customers to order products online from registered sellers.
            Customized the application allowing sellers to update products, view received orders and change their status.
            </p>
        <br><p>Technologies: React.js, Node.js, MongoDB, Python, LEX.</p>
    </div>
    
    </div>
