
    <h2 >About :</h2>
    <div class="timeline"></div><br>
<div>
    <h3>
        <ul>
            <li>
                Diligent software engineer with 3+ years experience in commercial , healthcare, insurance applications development. Eager waiting
        for a platform to build & work on innovative and cutting edge bussiness solutions for the impressive suite of clients within its
        gloabal reach. 

            </li><br>
            <li>
                A very good team player with the ability to work independently with minimal supervision.
            </li> <br>
            <li>
                Extensive in developing rich internet applications using JSP, JavaScript, jQuery, HTML and CSS.
            </li><br>
            <li>
                	Hands on experience in Agile Methodology and Scrum Methodology.
            </li><br>
            <li>
                	Experience in Object Oriented (OOP), J2EE and Client Server technologies.
            </li><br> 
            <li>
                Working knowledge on Operating Systems Windows NT/2000/XP, Linux, and Solaris.
                 Possess good analytical skills and quickly adaptable to newer Technologies.
            </li><br>
            <li>
                	Extensive experience in design and development of J2EE applications using 
                Core Java, Java Collections, Data Structures, Multithreading, Transaction Management, JDBC, Servlets.
            </li><br>
            <li>
                 Strong experience in configuration and management of RDBMS systems like MySQL, Oracle10g, DB2 and SQL Server 2008.
            </li>
        </ul>
    </h3>
</div>

