<header id="backgroundimage">
</header>
<div id="name" style="color:rgb(128, 125, 221)" >
  Manikantha Kothamasu
</div>
<div id="myimage">
  
</div>

<div   class="col-md-12 horizontal-list "  >
  <h3  >
    
        <div><app-about style="color:rgb(153, 139, 139)"></app-about>
        <hr><br>
      </div>
      <div>
        <app-skills style="color:rgb(153, 139, 139)"></app-skills>
        <hr><br>
      </div>
      <div>
        <app-experience style="color:rgb(153, 139, 139)"></app-experience>
        <hr><br>
      </div>
      <div>
        <app-projects style="color:rgb(153, 139, 139)"></app-projects>
         <hr><br>
      </div>
      <div> 
        <app-contact style="color:rgb(153, 139, 139)"></app-contact>
      </div>
 </h3>
</div>


        